[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cerberus = "*"
requests = "*"
flask = "*"
flask-cors = "*"
redis = "*"
click = "*"
flask-caching = "*"
gunicorn = "*"

[dev-packages]
autopep8 = "*"
ipdb = "*"

[requires]
python_version = "3.9"
